// Mixins
@mixin message {
    padding: 12px 20px;
    width: 100%;
    @include font-b;
    border-radius: 4px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    background-color: $black-2;
    color: $white;

    svg {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
    }

    span {
        display: flex;
        flex: 1 1 100%;
        flex-direction: row;
        align-items: center;
        justify-content: start;
        text-align: left;

        &.devider {
            flex-shrink: 0;
            width: 0;
            border-top: none;
            border-right: solid 1px $black-3;
            flex: 0;
            height: 16px;
        }
    }

    &.blood {
        svg {
            fill: $off-red;
        }
    }

    &.pass {
        svg {
            fill: $violet;
        }
    }

    &.loki {
        svg {
            fill: $turquoise;
        }
    }
}

@mixin gradient-color {
    background: $turquoise;
    background: linear-gradient(143deg, $turquoise, $persian-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin scrollbar($scroll-bg: transparent, $scroll-color: $black, $width: 10px, $hover-color: $black) {
    &::-webkit-scrollbar {
        width: $width;
        height: $width;
        background-color: $scroll-bg;
        border-radius: 20px;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-corner {
        background-color: $scroll-bg;
        width: $width;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $scroll-color;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 10px;
        // border-left: 2px white solid;

        &:hover {
            background-color: $hover-color;
        }
    }

    &::-webkit-scrollbar-thumb:horizontal {
        min-width: 40px;
    }
    &::-webkit-scrollbar-thumb:vertical {
        min-height: 40px;
    }
}

// @mixin checkbox() {
//     input[type='checkbox'] {
//         opacity: 0;
//         width: 12px;
//         height: 12px;
//         margin: 0;
//         top: 0px;
//         cursor: pointer;
//         position: absolute;
//         pointer-events: none;
//         z-index: -2;

//         &:focus,
//         &:active {
//             box-shadow: none;
//             border-color: transparent;
//         }
//     }

//     input[type='checkbox'] + label {
//         min-height: 12px;
//         display: flex;
//         cursor: pointer;
//         background: 0 0;
//         position: relative;

//         @include font-b;
//         color: $neutral-1000;
//         flex-direction: row;
//         align-items: center;
//         gap: 8px;

//         &:before {
//             content: '';
//             width: 12px;
//             height: 12px;
//             display: block;
//             border: solid 1px $neutral-1000-transparent;
//             flex-shrink: 0;
//         }

//         &:after {
//             content: '';
//             position: absolute;
//             top: auto;
//             width: 12px;
//             height: 12px;
//             display: none;
//             background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Crect width='12' height='12' fill='%23727DE1'/%3E%3Cpath d='M3 6L5.5 8.5L9.5 3.5' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
//             background-repeat: no-repeat;
//         }

//         &:focus {
//             outline: none;
//         }

//         &:active {
//             &:before {
//                 box-shadow: none;
//                 border-color: transparent;
//             }
//         }
//     }

//     // input[type="checkbox"].modified + label {
//     // }

//     input[type='checkbox']:checked + label {
//         &:before {
//             background: $primary-400;
//             border-color: $primary-400;
//         }
//         &:after {
//             display: flex;
//         }
//         &:hover {
//             &:before {
//                 background: $primary-600;
//                 border-color: $primary-600;
//             }
//         }
//     }

//     input[type='checkbox'][disabled] + label {
//         color: $neutral-200;
//         cursor: default;
//         &:before {
//             border-color: $neutral-200;
//         }
//     }

//     input[type='checkbox'][disabled]:checked + label {
//         &:before {
//             filter: grayscale(1);
//         }
//         &:hover {
//             &:before {
//                 border-color: $neutral-200;
//                 background: $neutral-200;
//             }
//         }
//     }
// }

// @mixin radio() {
//     input[type='radio'] {
//         opacity: 0;
//         width: 12px;
//         height: 12px;
//         margin: 0;
//         top: 0px;
//         cursor: pointer;
//         position: absolute;
//         pointer-events: none;
//         z-index: -2;

//         &:focus,
//         &:active {
//             box-shadow: none;
//             border-color: transparent;
//         }
//     }

//     input[type='radio'] + label {
//         min-height: 12px;
//         display: flex;
//         cursor: pointer;
//         background: 0 0;
//         position: relative;

//         @include font-b;
//         color: $neutral-1000;
//         flex-direction: row;
//         align-items: center;

//         &:before {
//             content: '';
//             width: 12px;
//             height: 12px;
//             display: block;
//             background-color: $neutral-200;
//             border: solid 1px $neutral-200;
//             flex-shrink: 0;
//             border-radius: 50%;
//             // margin: 2px 10px 2px 2px;
//         }

//         &:after {
//             content: '';
//             width: 6px;
//             height: 6px;
//             display: none;
//             background: $primary-400;
//             flex-shrink: 0;
//             border-radius: 50%;
//             position: absolute;
//             top: 3px;
//             left: 3px;
//         }

//         &:focus {
//             outline: none;
//         }

//         &:active {
//             &:before {
//                 box-shadow: none;
//                 border-color: transparent;
//             }
//         }
//     }

//     input[type='radio']:checked + label {
//         &:before {
//             border-color: $primary-400;
//             background-color: $neutral-0;
//         }
//         &:after {
//             display: flex;
//         }
//     }

//     input[type='radio'][disabled] + label {
//         color: $neutral-200;
//         cursor: default;
//         &:before {
//             border-color: $neutral-200;
//         }
//     }

//     input[type='radio'][disabled]:checked + label {
//         &:before {
//             filter: grayscale(1);
//         }
//         &:after {
//             filter: grayscale(1);
//         }
//         &:hover {
//             &:before {
//                 border-color: $neutral-200;
//             }
//             &:after {
//                 background-color: $neutral-200;
//             }
//         }
//     }
// }

// @mixin table {
//     table {
//         border: 2px solid $neutral-surface;
//         border-collapse: collapse;
//         thead {
//             position: sticky;
//             top: 2px;
//             background-color: $neutral-surface;
//             box-shadow: 0px -5px 0px 4px $neutral-surface;
//             z-index: 1;

//             tr {
//                 border-bottom: 1px solid $neutral-divider;
//                 th {
//                     @include font-b-bold;
//                     color: $neutral-600;
//                     text-align: left;
//                     border-bottom: 1px solid $neutral-divider;

//                     & > div {
//                         padding: 8px 8px 6px 8px;
//                         display: flex;
//                         flex-direction: row;
//                         align-items: center;
//                         gap: 8px;
//                         justify-content: start;

//                         & > .small {
//                             opacity: 0;
//                         }

//                         &.autocomplete-field {
//                             padding: 0;
//                             max-width: 240px;
//                         }

//                         &.filter-result-preview {
//                             background-color: $neutral-50;
//                             display: flex;
//                             flex-direction: row;
//                             gap: 8px;
//                             height: 32px;
//                             max-width: 210px;
//                             width: 100%;
//                             border-radius: 4px;
//                             cursor: pointer;

//                             & > div {
//                                 flex: 1 1 100%;
//                                 display: flex;
//                                 flex-direction: column;
//                                 gap: 2px;
//                                 overflow: hidden;
//                                 span {
//                                     @include font-label;
//                                     color: $neutral-400;
//                                 }
//                                 label {
//                                     @include font-b;
//                                     color: $neutral-1000;
//                                     white-space: nowrap;
//                                     overflow: hidden;
//                                     text-overflow: ellipsis;
//                                     cursor: pointer;
//                                 }
//                             }

//                             & > button {
//                                 flex-shrink: 0;
//                                 opacity: 1;
//                             }
//                         }
//                     }
//                     &:hover {
//                         & > div {
//                             .small {
//                                 opacity: 1;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//         tbody {
//             tr {
//                 vertical-align: top;
//                 td {
//                     @include font-b;
//                     color: $neutral-1000;
//                     padding: 8px;
//                     border-bottom: 1px solid $neutral-divider;
//                     vertical-align: middle;

//                     .actions {
//                         display: flex;
//                         justify-content: end;
//                         gap: 4px;
//                         opacity: 0;
//                     }
//                 }
//                 &.secondary {
//                     background-color: $neutral-surface-2;
//                 }

//                 &:hover {
//                     td {
//                         .actions {
//                             opacity: 1;
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }
