@font-face {
    font-family: "Dogica";
    src: url("/fonts/Dogica/57d7ce13093381acee3d40c5a512c770.eot");
    src: url("/fonts/Dogica/57d7ce13093381acee3d40c5a512c770.eot?#iefix")format("embedded-opentype"),
    url("/fonts/Dogica/57d7ce13093381acee3d40c5a512c770.woff2")format("woff2"),
    url("/fonts/Dogica/57d7ce13093381acee3d40c5a512c770.woff")format("woff"),
    url("/fonts/Dogica/57d7ce13093381acee3d40c5a512c770.ttf")format("truetype"),
    url("/fonts/Dogica/57d7ce13093381acee3d40c5a512c770.svg#Dogica")format("svg");
}