@font-face{
    font-family: "Epilepsy Sans";
    src: url("/fonts/EpilepsySans/0d7b038fb3ce1e579d48372b7daf1172.eot");
    src: url("/fonts/EpilepsySans/0d7b038fb3ce1e579d48372b7daf1172.eot?#iefix")format("embedded-opentype"),
        url("/fonts/EpilepsySans/0d7b038fb3ce1e579d48372b7daf1172.woff")format("woff"),
        url("/fonts/EpilepsySans/0d7b038fb3ce1e579d48372b7daf1172.woff2")format("woff2"),
        url("/fonts/EpilepsySans/0d7b038fb3ce1e579d48372b7daf1172.ttf")format("truetype"),
        url("/fonts/EpilepsySans/0d7b038fb3ce1e579d48372b7daf1172.svg#Epilepsy Sans")format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
